<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>zirc - Material IRC Client</title>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <link rel="stylesheet" href="./style/material-colors.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/thirdparty/checkbox.css">
    <script src="./javascript/electron.js"></script>
    <script src="./javascript/irc.js"></script>
    <script src="./javascript/ui.js"></script>
  </head>

  <body>
    <div id="app">

      <div id="titlebar">
        <div id="logo"></div>
        <div class="button" id="openSettings" v-on:click="openPage = 'settings'"></div>
        <div class="button" id="close">
          <div></div>
        </div>
        <div class="button" id="maximize">
          <div id="maximize-state"></div>
        </div>
        <div class="button" id="minimize">
          <div></div>
        </div>
      </div>

      <div id="settings" v-if="openPage == 'settings'">
        <div id="list">
          <span class="entry" v-for="entry in getConfigKeys()" v-bind:class="{active: config[entry].index == settingsPage.selectedEntry}" v-if="entry != '_'" v-on:click="settingsSelect(entry)">
            {{entry}}
          </span>
        </div>
        <div id="values">
          <div class="valuesEntry" v-for="(entry, index) in getSelctedConfig()" v-bind:class="{first: index == 0}">
            <div class="valuesLabel">
              <span class="vLName"> {{ entry.name }} </span>
              <span class="vLDesc"> {{ entry.description }} </span>
            </div>
            <div class="valuesInput">
              <input v-bind:type="entry.type" v-model="entry.value"></input>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>

</html>