:root {
  --white_h: 0;
  --white_s: 0%;
  --white_l: 100%;
  --accent_h: 207;
  --accent_s: 89%;
  --accent_l: 65%;
  --red_h: 0;
  --red_s: 85%;
  --red_l: 60%;
  --red0: hsl(var(--red_h), var(--red_s), calc(var(--red_l) - 0%));
  --red1: hsl(var(--red_h), var(--red_s), calc(var(--red_l) - 5%));
  --white0: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 0%));
  --white1: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 5%));
  --white2: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 10%));
  --white3: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 15%));
  --white4: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 35%));
  --white5: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 45%));
  --white6: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 55%));
  --white7: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 65%));
  --white8: hsl(var(--white_h), var(--white_s), calc(var(--white_l) - 75%));
  --accent0: hsl(var(--accent_h), var(--accent_s), calc(var(--accent_l) - 0%));
  --accent1: hsl(var(--accent_h), var(--accent_s), calc(var(--accent_l) - 5%));
  --accent2: hsl(var(--accent_h), var(--accent_s), calc(var(--accent_l) - 10%));
  --accent3: hsl(var(--accent_h), var(--accent_s), calc(var(--accent_l) - 15%));
  --accent4: hsl(var(--accent_h), var(--accent_s), calc(var(--accent_l) - 20%));
  --accent5: hsl(var(--accent_h), var(--accent_s), calc(var(--accent_l) - 25%));
  --link-color: var(--white4);
  --link-hover-color: var(--white5);
  --join-color: #4CAF50;
  --leave-color: #FF9800;
  --quit-color: #FF9800;
  --user_level_\@_: #A5D6A7;
  --user_level_\%_: #EF9A9A;
  --user_level_\+_: #90CAF9;
  --user_level__: #EEEEEE;
}

div#server_list::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent0);
}

*::-webkit-scrollbar-track {
  background-color: var(--white0);
}

*::selection {
  background-color: var(--accent0);
  color: var(--white0);
}

input[type=button], input[type=text]:disabled {
  user-select: none;
}

input[type=text], input[type=button] {
  height: 25px;
  appearance: none;
  text-align: center;
  outline: none;
  font-family: sans-serif;
  /* font-size: calc(1vw + 1vh); */
  font-size: 150%;
  color: var(--accent2);
  background-color: var(--white2);
  border: 1px solid var(--white2);
}

input[type=text]:not(.content_chatuser):not(.content_chatbar), input[type=button]:not(.content_send) {
  border-radius: 10px;
}

input[type=text]::placeholder {
  color: var(--accent0);
}

input[type=text]:not(.content_chatbar):not(:disabled):active, input[type=text]:not(.content_chatbar):not(:disabled):focus {
  border: 1px solid var(--accent1);
}

input[type=button]:hover {
  cursor: pointer;
  color: var(--white0);
  background-color: var(--accent1);
}

input[type=button]:active {
  color: var(--white0);
  background-color: var(--accent2);
}

input[type=text]:disabled {
  color: var(--white0);
  background-color: var(--accent2);
}

div#window_frame {
  width: 80%;
  height: calc(100% - 28px);
  top: 28px;
  left: 20%;
  position: absolute;
  background-color: var(--white0);
}

div.content_frame {
  width: 80%;
  height: 100%;
}

div#connect_form {
  width: 40%;
  height: 80%;
  position: absolute;
  left: 30%;
  top: 10%;
}

div.join_channel_form {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 5%;
  top: 25%;
}

div.new_pm_form {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 55%;
  top: 25%;
}

div#connect_form input, div.join_channel_form input, div.new_pm_form input {
  width: 90%;
  margin-left: 5%;
}

div#connect_form input {
  height: calc((100% - (6 * 20px)) / 6);
  margin-top: 14px;
}

div.join_channel_form input, div.new_pm_form input {
  height: calc((100% - (3 * 20px)) / 3);
  margin-top: 14px;
}

input.content_chatuser {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 10%;
  left: 1%;
  height: 30px;
  top: calc(99% - 20px - 20px);
  position: absolute;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--white0);
  background-color: var(--accent0);
}

input.content_chatbar::placeholder {
  color: var(--white6);
}

input.content_chatbar {
  width: calc(59% - 3px);
  left: calc(11% + 1px);
  height: 30px;
  top: calc(99% - 20px - 20px);
  position: absolute;
  text-align: left;
  padding-left: 0.5%;
  padding-right: 0.5%;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--white8);
}

input.content_send {
  width: 8%;
  position: absolute;
  left: 71%;
  height: 34px;
  top: calc(99% - 20px - 20px);
  font-family: sans-serif;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.content_chat {
  background-color: var(--white0);
  position: absolute;
  width: 80%;
  height: calc(100% - 1% - 1% - 20px - 25px - 1%);
  padding-top: 1%;
  left: 1%;
  overflow: auto;
}

div.content_chat_message {
  width: 100%;
  margin-bottom: 5px;
}

span.content_chat_message_sender {
  min-height: 32px;
  width: 14%;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  color: var(--white4);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 32px;
  padding-right: 1%;
  position: absolute;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

span.content_chat_message_message {
  min-height: 32px;
  width: 80%;
  margin-left: 15%;
  display: inline-block;
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 32px;
  word-wrap: break-word;
}

span.content_chat_message_message.message_type_message {
  font-weight: normal;
  color: var(--white4);
}

a.content_chat_message_message_link {
  font-weight: normal;
  color: var(--link-color);
  text-decoration: none;
}

a.content_chat_message_message_link:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

span.content_chat_message_message.message_type_join {
  font-weight: bold;
  color: var(--join-color);
}

span.content_chat_message_message.message_type_leave {
  font-weight: bold;
  color: var(--leave-color);
}

span.content_chat_message_message.message_type_quit {
  font-weight: bold;
  color: var(--leave-color);
}

span.content_chat_message_timestamp {
  min-height: 32px;
  width: 5%;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  color: var(--white5);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
}

div.content_frame_userlist {
  position: absolute;
  width: 19%;
  left: 81%;
  height: calc(100% - 1% - 1% - 20px - 25px - 1%);
  padding-top: 1%;
  overflow: auto;
}

span.content_frame_userlist_user {
  width: 90%;
  min-height: 32px;
  padding-left: 1%;
  padding-right: 1%;
  background-color: var(--white2);
  border-radius: 15px;
  margin-left: 5%;
  margin-bottom: 5px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  word-break: break-all;
  text-align: center;
  color: var(--white5);
}

span.user_level_\@_ {
  background-color: var(--user_level_\@_);
}

span.user_level_\%_ {
  background-color: var(--user_level_\%_);
}

span.user_level_\+_ {
  background-color: var(--user_level_\+_);
}

span.user_level__ {
  background-color: var(--user_level__);
}

div#footer {
  position: absolute;
  top: calc(100% - 48px);
  left: 0px;
  width: 20%;
  height: 47px;
  background-color: var(--accent1);
  border-top: 1px solid var(--accent3);
}

div#newserver, div#settings {
  position: absolute;
  top: calc(100% - 44px);
  width: 40px;
  height: 40px;
  background-color: var(--accent1);
  cursor: pointer;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px;
}

div#newserver {
  left: calc(100% - (2 * 40px) - 4px);
  background-image: url("../images/add.svg");
}

div#settings {
  left: calc(100% - 44px);
  background-image: url("../images/set.svg");
}

div#newserver:hover, div#settings:hover {
  background-color: var(--accent2);
}

div#server_list {
  width: 20%;
  height: calc(100% - 28px - 48px);
  top: 28px;
  left: 0px;
  background-color: var(--white2);
  position: absolute;
  overflow: auto;
}

span.server_list_entry {
  height: 48px;
  width: 100%;
  display: inline-block;
  font-family: sans-serif;
  text-align: center;
  /* font-size: 24px; */
  font-size: 150%;
  line-height: 48px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  cursor: pointer;
  /* text-overflow: ellipsis;
  overflow-x: hidden; */
}

span.server_list_entry_server {
  font-weight: bold;
  background-color: var(--white0);
  color: var(--accent0);
}

span.server_list_entry_channel {
  background-color: var(--white1);
  color: var(--accent0);
}

span.server_list_entry_server:hover {
  background-color: var(--accent0);
  color: var(--white0);
}

span.server_list_entry_server:active, span.server_list_entry_channel:hover {
  background-color: var(--accent1);
  color: var(--white0);
}

span.server_list_entry_channel:active {
  background-color: var(--accent2);
  color: var(--white0);
}

span.server_list_entry_channel.newmsg.hidden {
  color: var(--white1);
  background-color: var(--accent0);
  /* animation: newhiddenmsg 2s ease infinite; */
}

@keyframes newhiddenmsg {}