body {
  background-color: var(--bg0);
}

div.titlebar {
  width: 100%;
  height: 28px;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: var(--accent1);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

div.titlebar_button {
  position: absolute;
  height: 100%;
  width: 32px;
  -webkit-app-region: no-drag;
  background-color: var(--accent2);
}

div.titlebar_button:hover {
  background-color: var(--accent0);
  cursor: pointer;
}

div.titlebar_button:active {
  background-color: var(--accent3);
}

div#logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 28px;
  height: 28px;
  width: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
}

div#close {
  top: 0px;
  right: 0px;
}

div#maximize {
  top: 0px;
  right: 32px;
}

div#minimize {
  top: 0px;
  right: 64px;
}

div#loading_animation {
  /* display: none; */
  border: 32px solid var(--white8);
  left: 0px;
  top: calc(100% - 64px);
  position: absolute;
  width: 0px;
  height: 0px;
  animation: drop 0.8s linear infinite;
}

@keyframes drop {
  0% {
    border: 32px solid var(--white8);
    left: 0;
    top: calc(100% - 64px);
  }
  80% {
    border: 0px solid rgba(0, 0, 0, 0);
    left: 32px;
    top: calc(100% - 32px);
  }
}