:root {
  --join-color: #4caf50;
  --quit-color: #f44336;
  --link-color: #737373;
  --leave-color: #ffc107;
  --whois-color: #ab47bc;
  --notice-color: #5c6bc0;
  --newhiddenmsg: #a5d6a7;
  --message-color: #595959;
  --user_level__: var(--grey3);
  --user_level_\@_: #a5d6a7;
  --user_level_\%_: #ef9a9a;
  --user_level_\+_: #90caf9;
  --link-hover-color: #8c8c8c;
}

*:not(input):not([attribute~="divButton"]) {
  user-select: none;
  --webkit-user-select: none;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue4);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--blue6);
}

*::-webkit-scrollbar-track {
  background-color: var(--grey3);
}

*::selection {
  background-color: var(--blue5);
  color: var(--grey1);
}

/* *.busy {
  border: 1px solid var(--orange5) !important;
}
*.news {
  border: 1px solid var(--blue5) !important;
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type="text"],
input[type="number"],
input[type="checkbox"],
input[type="button"] {
  border: none;
  outline: none;
  --webkit-appearance: none;
  background-color: transparent;
}

input[type="number"],
input[type="text"] {
  width: 120px;
  height: 20px;
  padding: 10px;
  font-size: 16px;
  margin-top: 7.5px;
  border-radius: 5px;
  color: var(--grey7);
  background-color: var(--grey2);
}

* {
  font-family: "Source Sans Pro";
}

body {
  background-color: var(--grey1);
}

div#app {
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

div#app div.content {
  left: 0;
  top: 28px;
  width: 100%;
  position: absolute;
  height: calc(100% - 28px);
}

div.notSelected {
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--grey4);
  line-height: calc(100vh - 28px);
}

/* Titlebar Start */
div#app div#titlebar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 28px;
  position: absolute;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: var(--grey4);
}

div#app div#titlebar div#logo {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  background-size: 28px;
  background-repeat: no-repeat;
  background-image: url("../images/logo.svg");
}

div#app div#titlebar div.button {
  width: 40px;
  height: 28px;
  position: absolute;
  -webkit-app-region: no-drag;
}

div#app div#titlebar div#openSettings {
  left: 28px;
}

div#app div#titlebar div.button:not(#close):hover {
  cursor: pointer;
  background-color: var(--grey5);
}

div#app div#titlebar div.button:not(#close):active {
  background-color: var(--grey6);
}

div#app div#titlebar div.button#close:hover {
  cursor: pointer;
  background-color: var(--red5);
}

div#app div#titlebar div.button#close:active {
  background-color: var(--red6);
}

div#app div#titlebar div.button div {
  top: 4px;
  width: 20px;
  right: 10px;
  height: 20px;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

div#app div#titlebar div.button#close {
  top: 0px;
  right: 0px;
}
div#app div#titlebar div.button#close div {
  background-image: url("../images/close.svg");
}

div#app div#titlebar div.button#maximize {
  top: 0px;
  right: 40px;
}
div#app div#titlebar div.button#maximize div {
  background-image: url("../images/maximize.svg");
}

div#app div#titlebar div.button#minimize {
  top: 0px;
  right: 80px;
}
div#app div#titlebar div.button#minimize div {
  right: 5px;
  width: 30px;
  background-image: url("../images/minimize.svg");
}
/* Titlebar End */

/* IRC Start */

div#app div#irc div#list {
  float: left;
  width: 165px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--grey2);
  border-right: 1px solid var(--grey3);
}
div#app div#irc div#list div.connection {
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: calc(145px - 2px);
}

div#app div#irc div#list div.connection div.server {
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  color: var(--grey6);
  border: 1px solid var(--grey4);
}
div#app div#irc div#list div.connection div.server:hover {
  border-color: var(--blue2);
  background-color: var(--blue2);
}
div#app div#irc div#list div.connection div.server.active {
  color: var(--grey1);
  border-color: var(--blue6);
  background-color: var(--blue6);
}

div#app div#irc div#list div.connection div.channel {
  width: 100%;
  height: 30px;
  cursor: pointer;
  margin-top: 3px;
  font-weight: bold;
  line-height: 30px;
  color: var(--grey6);
  background-color: var(--grey2);
  border: 1px solid var(--grey4);
}
div#app div#irc div#list div.connection div.channel:hover {
  border-color: var(--blue2);
  background-color: var(--blue2);
}
div#app div#irc div#list div.connection div.channel.active {
  color: var(--grey1);
  border-color: var(--blue6);
  background-color: var(--blue6);
}

div#app div#irc div#chat {
  float: left;
  height: 100%;
  background-color: var(--grey0);
  width: calc(100% - 165px - 1px);
}

div#app div#irc div#chat div#chatlog {
  /* TODO: 200px */
  width: calc(100% - 200px);
  height: calc(100% - 50px);
  float: left;
}
div#app div#irc div#chat div#chatlog div.message {
  width: 100%;
  float: left;
  font-size: 16px;
  margin-top: 5px;
  min-height: 20px;
}
div#app div#irc div#chat div#chatlog div.message div.author {
  float: left;
  height: 100%;
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
  color: var(--blue4);
  word-wrap: break-word;
  width: calc(150px - 5px);
}
div#app div#irc div#chat div#chatlog div.message div.text {
  float: left;
  height: 100%;
  color: var(--grey8);
  word-wrap: break-word;
  width: calc(100% - 150px - 150px);
  user-select: text;
}
div#app div#irc div#chat div#chatlog div.message div.time {
  float: left;
  width: 150px;
  height: 100%;
  font-weight: bold;
  text-align: center;
  color: var(--grey6);
}

div#app div#irc div#chat div#chatbar {
  /* TODO: 200px */
  width: calc(100% - 200px);
  height: 50px;
  float: left;
}
div#app div#irc div#chat div#chatbar input#input {
  width: calc(100% - 10px - 10px);
  height: 35px;
  margin-top: 7.5px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: var(--grey3);
  box-shadow: 0px 0px 0px 1px var(--grey4) inset;
  padding: 0px 5px 0px 5px;
}

div#app div#irc div#chat div#userlist {
  width: 199px;
  height: 100%;
  float: right;
  border-left: 1px solid var(--grey3);
  background-color: var(--grey2);
}
div#app div#irc div#chat div#userlist div.userlistEntry {
  height: 40px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  color: var(--grey7);
  font-size: 20px;
}
div#app div#irc div#chat div#userlist div.userlistEntry.user_level_ {
  background-color: var(--user_level__);
}
div#app div#irc div#chat div#userlist div.userlistEntry.user_level_\% {
  background-color: var(--user_level_\%_);
}
div#app div#irc div#chat div#userlist div.userlistEntry.user_level_\+ {
  background-color: var(--user_level_\+ _);
}
div#app div#irc div#chat div#userlist div.userlistEntry.user_level_\@ {
  background-color: var(--user_level_\@_);
}
/* IRC End */

/* Settings Start */
div#app div#settings div#list {
  float: left;
  width: 165px;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--grey2);
  border-right: 1px solid var(--grey3);
}
div#app div#settings div#list span.entry {
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--grey6);
}
div#app div#settings div#list span.entry:hover {
  color: var(--grey5);
}

div#app div#settings div#list span.entry.active {
  color: var(--grey1);
  background-color: var(--blue6);
}

div#app div#settings div.values {
  float: left;
  overflow-y: auto;
  width: calc(100% - 165px);
  height: 100%;
  background-color: var(--grey1);
}

div#app div#settings div.values div.valuesEntry {
  width: calc(100% - 40px);
  height: 55px;
  margin-left: 20px;
}
div#app div#settings div.values div.valuesEntry.first {
  margin-top: 60px;
}
div#app div#settings div.values div.valuesEntry:not(.first) {
  border-top: 1px solid var(--grey3);
}

div#app div#settings div.values div.valuesEntry div.valuesLabel {
  width: 50%;
  float: left;
  height: 55px;
}
div#app div#settings div.values div.valuesEntry div.valuesLabel span {
  width: 100%;
  height: 50%;
  display: block;
}
div#app div#settings div.values div.valuesEntry div.valuesLabel span.vLName {
  font-size: 16px;
  line-height: 35px;
  color: var(--grey7);
}
div#app div#settings div.values div.valuesEntry div.valuesLabel span.vLDesc {
  font-size: 16px;
  line-height: 20px;
  color: var(--grey5);
}

div#app div#settings div.values div.valuesEntry div.valuesInput {
  width: 50%;
  height: 55px;
  float: right;
}
div#app
  div#settings
  div.values
  div.valuesEntry
  div.valuesInput
  input[type="number"] {
  float: right;
}
div#app
  div#settings
  div.values
  div.valuesEntry
  div.valuesInput
  input[type="checkbox"] {
  float: right;
  margin-top: 12.5px;
}

/* Servers */
div#app div#settings div.values div.serverEntry {
  border: none !important;
  margin-bottom: 10px;
}
div#app div#settings div.values div.valuesEntry div.serverLabel {
  width: 250px;
  cursor: pointer;
  padding-left: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--grey2);
  border: 1px solid var(--grey3);
}
div#app div#settings div.values div.valuesEntry div.serverLabel.active {
  border: none;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid var(--grey3);
  border-top: 1px solid var(--grey3);
  border-right: 1px solid var(--grey3);
}

div#app div#settings div.values div.valuesEntry.open {
  /* TODO: Adjust height to proper value */
  height: auto;
}
div#app div#settings div.values div.valuesEntry div.serverDetails {
  width: 100%;
  float: left;
  height: calc(100% - 55px);
  background-color: var(--grey2);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--grey3);
  margin-bottom: 10px;
}
div#app
  div#settings
  div.values
  div.valuesEntry
  div.serverDetails
  div.serverDetailsEntry {
  width: calc(100% - 20px);
  margin-left: 10px;
  /* background-color: red; */
  height: 55px;
}
div#app
  div#settings
  div.values
  div.valuesEntry
  div.serverDetails
  div.serverDetailsEntry
  input[type="number"],
div#app
  div#settings
  div.values
  div.valuesEntry
  div.serverDetails
  div.serverDetailsEntry
  input[type="text"] {
  background-color: var(--grey3);
  width: 200px;
}
div#app
  div#settings
  div.values
  div.valuesEntry
  div.serverDetails
  div.serverDetailsEntry
  input {
  float: right;
}
div#app
  div#settings
  div.values
  div.valuesEntry
  div.serverDetails
  div.serverDetailsEntry
  span {
  color: var(--grey7);
  line-height: 55px;
}
/* Settings End */
